// fonts

$basic-font: "Roboto", "Arial", san-serif;
$secondary-font: "inter", "Arial", sans-serif;

$basic-color: #ffffff;
$secondary-color: #000000;
$color-dark-slate-blue: #302594;
$color-medium-orchid: #BE69D5;
$color-purple-heart: #5C39BA;

//viewport

$mobile-width: 768px;
$tablet-width: 1280px;